# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
.DS_Store

node_modules/
output.csv

venv/
screenshot.html
screenshot.png

distilbert_url_model_demo/